body {
  background: linear-gradient(45deg, #fff, #edfaee) !important;
  font-family: "Poppins", sans-serif !important;
}

p,
h1 {
  font-family: "Poppins", sans-serif !important;
}

.burger-image {
  width: 100%;
  display: block;
  order: 2;
  max-width: 500px;
  margin: 0 auto;
}

a {
  text-decoration: none !important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  /* padding: 10px !important; */
}
